<h1 align='center'>Доступные для {{ lesson_title }} преподаватели:</h1>

{% for teacher in available_teachers %}
    <tr>
        <form action="{% url 'post_teacher_to_lesson' teacher.id lesson_id%}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <li>Имя преподавателя: {{ teacher.first_name }}</li>
            <li>Фамилия преподавателя: {{ teacher.last_name }}</li>
            <li>Отчество преподавателя: {{ teacher.patronymic }}</li>
            <button type="submit">Добавить преподавателя</button>
            <br></br>
        </form>
    </tr>
{% endfor %}