{% extends 'base_generic.html' %}
{% block content %}
{% load crispy_forms_tags %}
<h1>Ваши предметы:</h1>
    <table>
        {%for lesson in lessons %}
            <form action="{% url 'delete_lesson' lesson.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="list-item">
                	<label class="checkbox">
                    	<span class="complete-">                
                            Название предмета: {{lesson.title}}
                            <li>Ссылка на подключение: {{lesson.url_lesson}}</li>
                        </span>
                	</label>
                	<strong class="is-pulled-right"><i class="fa fa-calendar"></i>{{lesson.start_time}} - {{lesson.end_time}}</strong>
            	</div>

                {% if user.role == "Teacher" %}
                <button type="submit">Удалить урок</button>
                <button type="submit" name="Load lesson">Загрузить запись</button>
                {% endif %}
                <br></br>
            </form>
        {% endfor %}
        
    </table>
{% if user.role == "Teacher" %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Добавить урок</button>
</form>
{% endif %}
{% endblock %}