{% extends 'base_generic.html' %}
{% block content %}
{% load crispy_forms_tags %}
    <table>
        {%for lesson in lessons %}
            <form action="{% url 'delete_lesson' lesson.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <li>Название предмета: {{lesson.title}}</li>
                <li>{{lesson.start_time}} - {{lesson.end_time}}</li>
                <li>Ссылка на подключение: {{lesson.url_lesson}}</li>
                <button type="submit">Удалить урок</button>
                <button type="submit" name="Load lesson">Загрузить запись</button>
                <br></br>
            </form>
        {% endfor %}
        
    </table>
{% if user.role == "Teacher" %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Добавить урок</button>
</form>
{% endif %}

{% endblock %}